// Color
$color-blue: #2290ff;
$color-light-blue: #f5faff;
$color-dark-blue: #1080ef;
$color-green: #7eb371;
$color-orange: #ff5026;
$color-black: #323c47;
$color-white: #ffffff;
$color-light-grey: #fafafa;
$color-grey: #adb1b5;
$color-dark-grey: #6a707e;

$input-bg: #f4f4f4;
$body-bg: #fafafa;
$body-color: $color-black;
$font-family-base: 'CircularStd-Book';;